@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #F9F6F2;
    --text-color: #000;
}



body {
    background-color: var(--background-color);
    color: var(--text-color);
}

:export {
    backgroundColor: var(--background-color);
    textColor: var(--text-color);
}