@tailwind base;
@tailwind components;
@tailwind utilities;


$background-color: #F9F6F2;
$text-color: #000;


body {
    background-color: $background-color;
    color: $text-color;
}

:export {
    backgroundColor: $background-color;
    textColor: $text-color;
}